*~
*.[oa]
*.mod
*__genmod.f90
\#*\#
TAGS
LISTOBJ
git_version.h
git_version_*.h
mpif.h
!src/include/mpif.h
src/catalyst/*.#*
src/differentiation/tangent/b2mod_dimensions.F
src/differentiation/adjoint/b2mod_dimensions.F
src/differentiation/hessian_tgt/b2mod_dimensions.F

# ignore anything in directories with executables
Release/
bin/
builds/
lib/

# ignore local files and directories
*.local
*.local/

# ignore local backup copies
*.orig
*.bak

# ignore local files created by scripts
grep.lis

# genmod
*__genmod*

# ignore files and directories connected with project in MS VS in Windows
*.vfproj
*.htm
*.advixeproj
*.advixeexp
*.obj
*.exe
*.exe.intermediate.manifest
Debug/
x64/
Add_Mod/
B2mn/
